@media (max-width: 400px) {
  body {
    .body {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      //   width: 100%;
      //   height: 100%;
      background: rgba(0, 0, 0, 0.7);
      z-index: 0;
    }
    header {
      nav {
        .container {
          // border: 2px solid red;
          position: absolute;
          right: 0;
          background-color: $White;
          top: 0;
          bottom: 0;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          padding: 20px;
          padding-top: 100px;
          width: 0;
          transform: scale(0);
          transition: width 0.5s;
          .main-ul {
            flex-direction: column;
            align-items: flex-start;
            // border: 2px solid salmon;
            width: 100%;
            li {
              // border: 2px solid salmon;
              a {
                // border: 2px solid salmon;
                font-size: 15px;
              }
            }
            #features,
            #company {
              ul {
                position: relative;
                box-shadow: none;
                width: 100%;
                transform: scale(0);
                height: 0;
                padding: 0;
                top: 0;
              }
            }
          }
          .join {
            // border: 2px sienna solid;
            width: 100%;
            flex-direction: column;
            gap: 0;
            button {
              width: 100%;
              padding: 15px;
            }
            // justify-content: center;
          }
        }
        .menu {
          display: block;
          z-index: 10;
        }
      }
    }
    main {
      @include flex(flex-start, center, 0);
      flex-direction: column-reverse;
      padding: 0;
      .main-dis {
        width: 100%;
        text-align: center;
        padding: 0 10px;
        margin-top: 0;
        h1 {
          width: 100%;
          margin-top: 20px;
          @include text(38px, 700, normal, $Black);
        }
        p {
          @include text(17px, 700, normal, $Gray);
          width: 100%;
          line-height: 1.5;
        }
        button {
          @include text(18px, 700, normal, $White);
          padding: 20px 40px;
          border-radius: 20px;
        }
        ul {
          @include flex(space-between, center, 10px);
          padding: 0 5px;
          margin-top: 50px;
          li {
            width: 20%;
            img {
              width: 100%;
            }
          }
        }
      }
      .img {
        width: 100%;
        height: 350px;
        background: url("./images/image-hero-mobile.png") center/contain
          no-repeat;
      }
    }
  }
}
